# generic files to ignore
*~
*.lock
!deps.lock
*.DS_Store
*.swp
*.out

# Symfony2 files
# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
