#
# more information can be found here http://sonata-project.org/bundles/admin
#
# @author Christian Torres <chtorrez@gmail.com>
# @version 1.0
# @created 2012-04-21 16:40
#
admin:
    resource: '@SonataAdminBundle/Resources/config/routing/sonata_admin.xml'
    prefix: /admin

_sonata_admin:
    resource: .
    type: sonata_admin
    prefix: /admin

sonata_user:
    resource: '@SonataUserBundle/Resources/config/routing/admin_security.xml'
    prefix: /admin

sonata_user_impersonating:
    pattern: /admin/dashboard
    defaults: { _controller: SonataAdminBundle:Core:dashboard }

# To redirect /admin to /admin/dashboard
admin_dashboard:
    pattern: /admin
    defaults: { _controller: FrameworkBundle:Redirect:redirect, route:sonata_admin_dashboard, permanent: true }

# To manipulate images
_imagine:
    resource: .
    type:     imagine
